@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Sora:wght@500;600;700&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import "vuetify/dist/vuetify.min.css";
@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';
@import 'additional-styles/vuetify-buttons.scss';
@tailwind utilities;
@import "reset";

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.v-data-table__empty-wrapper {
  color: rgba(0, 0, 0, .8) !important;
}

.v-data-table-header > tr > th{
  color: #000!important;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
